<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="js/bootstrap.min.js"></script>
    <title>Home</title>
</head>
<body>
<div class="container-fluid">
    <h1>Drush Docset</h1>
    <p>Welcome to the Drush Docset built from Drush 7 (composer dev-master)</p>
    <p>Created by Mike Bell <a href="https://twitter.com/mikebell_">@mikebell_</a></p>
    <h2>Other (online) Resources:</h2>
    <ul>
        <li><a href="http://docs.drush.org/en/master/">Drush Docs</a></li>
        <li><a href="http://drushcommands.com">Drush Commands</a></li>
    </ul>
</div>
</body>
</html>
