<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="js/bootstrap.min.js"></script>
    <title>Home</title>
</head>
<body>
<div class="container-fluid">
    <h1>Drush Docset</h1>
    <p>Welcome to the Drush Docset built from Drush 7 (composer dev-master)</p>
    <p>Created by Mike Bell <a href="https://twitter.com/mikebell_">@mikebell_</a></p>
    <h2>Commands</h2>
    <p>Commands are indexed from the following modules</p>
    <ul>
        <li>Drush Core</li>
        <li>Features</li>
        <li>Coder</li>
        <li>Search Api</li>
        <li>Module Builder</li>
        <li>Migrate</li>
        <li>Registry Rebuild</li>
        <li>Devel</li>
    </ul>
    <p>Other modules can be indexed by modifying modules.yml and re-running the script. For additional modules create an issue or pull request on <a href="https://github.com/mikebell/drush-docset">Github</a></p>
    <h2>Other (online) Resources:</h2>
    <ul>
        <li><a href="http://docs.drush.org/en/master/">Drush Docs</a></li>
        <li><a href="http://drushcommands.com">Drush Commands</a></li>
    </ul>
    <p>Last generated: <span class="label label-info">{{ gentime }}</span></p>
</div>
</body>
</html>
